torch>=2.4
torchvision
transformers>=4.57,<5
accelerate
safetensors
einops
sentencepiece
protobuf
modelscope
huggingface_hub
ftfy
pandas
peft
datasets
imageio
numpy
scipy
opencv-python
pillow
qwen-vl-utils
git+https://github.com/microsoft/MoGe.git
